CompileFlags:
  Add: [-Wno-c++17-extensions, -Wno-braced-scalar-init]

Completion:
  HeaderInsertion: Never

InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: No
  DefaultArguments: No